html{
	background-color: hsl(0, 0%, 8%);
	font-family: "Inter", sans-serif;
	text-align: center;
}

.header-social-container{
	background-color: hsl(0, 0%, 12%);
	border-radius: 10px;
	height: 550px;
	margin: 70px 0 0 450px;
	width: 350px;
}

.profile-pic{
	border-radius: 50%;
	margin-top: 35px;
}

.name, .bio {
	color:  hsl(0, 0%, 100%);
	
}

.name{
	font-weight: 700;
	margin-bottom: 10px;
}

.location{
	color: hsl(75, 94%, 57%);
	font-size: 14px;
	font-weight: 600;
	margin-top: 0px;
}

.bio{
	font-size: 14px;
	font-weight: 400;
    margin-bottom: 27px;
	margin-top: 30px;
}

.social-links{
	display: grid;
	grid-gap: 25px;
	grid-template-rows: repeat(5, 30px);
}

.github, .fementor, .linkedin, .x, .ig{
	align-items: center;
	background-color: hsl(0, 0%, 20%);
	border-radius: 10px;
	color:  hsl(0, 0%, 100%);
	font-size: 14px;
	height: 28px;
	justify-items: center;
	margin-left: 30px;
	padding: 10px 0 2px 0;
	width: 290px;
}
@media screen and (max-width: 375px) {
	.header-social-container{
		margin: 49px 0px 0px 5px;
		width: 350px;
	}

	.profile-pic{
		height: 73px;
		margin-top: 27px;
		width: 81px;
		
	}
	
	.social-links{
		margin-left: 7px;
	}
	
	.github, .fementor, .linkedin, .x, .ig{
		font-weight: 600;
		margin-left: 21px;
		width: 293px;
	}

}

@media screen and (max-width: 415px) and (min-length:691px) {
	.header-social-container{
		margin: 70px 0 0px 22px;	
	}
}

@media screen and (min-width: 1440px){
	.header-social-container{
		margin: 70px 0px 0px 540px;
		width: 348px;
	}

	.profile-pic{
		height: 73px;
		margin-top: 27px;
		width: 81px;
		
	}
	
	.social-links{
		margin-left: 7px;
	}
	
	.github, .fementor, .linkedin, .x, .ig{
		font-weight: 600;
		margin-left: 21px;
		width: 293px;
	}
}